$display-width-font-size: 14px;
$display-height-font-size: 14px;
$base-font-size: 48px;
$min-font-size-value: 1;
$max-font-size-value: 120;
$base-marker-font-size: 14px;
$base-marker-space: 8px;
$line-height: 1.2;
$line-width: 1px;
$onlight-color: #f8c51e;

@mixin around-text-space($_font-size, $font-id) {
  $space-size: calc(($line-height - 1) / 2 * $_font-size);
  $_space-out-of-line: calc($_font-size / 2);
  $_space-out-of-size: $space-size;
  $_marker-font-size: calc(
    $base-marker-font-size / $base-font-size * $_font-size
  );
  $_marker-space: calc(
    $base-marker-space / $base-marker-font-size * $_marker-font-size
  );

  .container.fontSize-#{$font-id} {
    & .markerHeightWrapper {
      top: calc((100% - $_space-out-of-line) / 2);
    }
    & .markerHeight,
    & .markerWidth {
      font-size: $_marker-font-size;
    }
    & .markerHeight {
      margin-right: $_marker-space;
    }
    & .linesContainer {
      padding-bottom: $_space-out-of-line;
    }
    & .linesContainer::before {
      height: 100%;
      margin-right: $_space-out-of-line;
    }
    & .text {
      font-size: $_font-size;
    }
    & .markerWidthWrapper {
      padding-left: $_space-out-of-line;
    }
    & .markerWidth {
      margin: 0 auto;
      margin-top: $_marker-space;
      width: max-content;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: #fff;
  height: 75%;
  // overflow-wrap: break-word;
  font-weight: 400;
  line-height: $line-height;

  @media screen and (min-width: 768px) {
    height: 85%;
  }
}

@for $i from $min-font-size-value to $max-font-size-value {
  $font-size: #{$i}px;
  @include around-text-space($font-size, $i);
}

.textBar {
  position: relative;
  display: flex;
}
.markerHeightWrapper {
  position: absolute;
  right: 100%;
  transform: translateY(calc(-50%));
  display: flex;
  align-items: center;
}
.markerHeight {
  width: max-content;
}
.linesContainer {
  display: flex;
  &::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #fff;
  }
}
.text {
  display: inline-flex;
  white-space: nowrap;

  &.onLightText {
    // on light styles
  }
  &.left {
    // align-items: flex-start;
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}
.markerWidthWrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}
.markerWidth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
