@import "../../sass/utils/variables";
@import "../../sass/utils/mixin";

.ownDesign {
  @include tablet_max {
    margin-top: 24px;
    margin-bottom: 80px;
  }
  @include tablet {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}
.text {
  @include font(400, 14px, 1.29);
  color: $secondary-text-color;
  @include tablet_max {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 24px;
    width: 400px;
  }
  @include desktop {
    width: 448px;
  }
}

.btnOpenModal {
  @include font(600, 14px, 1.43);
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
  background: #5fcecb;
  color: $white-text-color;
}
