@font-face {
  font-family: "AlumniSans";
  src: local("AlumniSans-Thin"),
    url("../../asset/fonts/AlumniSans-Thin.woff2") format("woff2"),
    url("../../asset/fonts/AlumniSans-Thin.woff") format("woff"),
    url("../../asset/fonts/AlumniSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: local("Caveat-Regular"),
    url("../../asset/fonts/Caveat-Regular.woff2") format("woff2"),
    url("../../asset/fonts/Caveat-Regular.woff") format("woff"),
    url("../../asset/fonts/Caveat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa-Medium"),
    url("../../asset/fonts/Comfortaa-Medium.woff2") format("woff2"),
    url("../../asset/fonts/Comfortaa-Medium.woff") format("woff"),
    url("../../asset/fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2-ExtraLight"),
    url("../../asset/fonts/Exo2-ExtraLight.woff2") format("woff2"),
    url("../../asset/fonts/Exo2-ExtraLight.woff") format("woff"),
    url("../../asset/fonts/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poiret One";
  src: local("PoiretOne-Regular"),
    url("../../asset/fonts/PoiretOne-Regular.woff2") format("woff2"),
    url("../../asset/fonts/PoiretOne-Regular.woff") format("woff"),
    url("../../asset/fonts/PoiretOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: local("ShantellSans-Light"),
    url("../../asset/fonts/ShantellSans-Light.woff2") format("woff2"),
    url("../../asset/fonts/ShantellSans-Light.woff") format("woff"),
    url("../../asset/fonts/ShantellSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("SourceCodePro-ExtraLight"),
    url("../../asset/fonts/SourceCodePro-ExtraLight.woff2") format("woff2"),
    url("../../asset/fonts/SourceCodePro-ExtraLight.woff") format("woff"),
    url("../../asset/fonts/SourceCodePro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: local("Pacifico-Regular"),
    url("../../asset/fonts/Pacifico-Regular.woff2") format("woff2"),
    url("../../asset/fonts/Pacifico-Regular.woff") format("woff"),
    url("../../asset/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
