@mixin tablet_max {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop_max {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin font($f-w, $f-s, $l-h) {
  font-weight: $f-w;
  font-size: $f-s;
  line-height: $l-h;
}

@mixin retina {
  background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin add-bg-image-styles($_item-selector, $_images_count) {
  @for $i from 1 through $_images_count {
    #{$_item-selector}-bg#{$i} {
      background-image: url("../../images/bg#{$i}@1x-min.jpg");
      @media screen and (min--moz-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url("../../images/bg#{$i}@2x.jpg");
      }
    }
  }
}
