$primary-font: "Roboto", sans-serif;

$bg-color: #eaeaea;
$primary-text-color: #2a2a2a;
$secondary-text-color: #121417;
$white-text-color: #ffffff;
$gray-text-color: #8a8a89;

$tabs-bg-hover-color: #eceded;
$btn-open-modal-color: #5fcecb;
