$primary-font: "Roboto", sans-serif;

$bg-color: #eaeaea;
$primary-text-color: #2a2a2a;
$secondary-text-color: #121417;
$white-text-color: #ffffff;
$gray-text-color: #8a8a89;
$overlay-color: rgba(18, 20, 23, 0.4);
$border-color: rgba(18, 20, 23, 0.1);
$secondary-border-color: rgba(43, 43, 42, 0.1);
$main-accent-color: #5fcecb;
$icon-color: #2b2b2a;
