@import "../../sass/utils/variables";
@import "../../sass/utils/mixin";

.tabsWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.tabsButton {
  @include font(500, 14px, 1.14);

  width: 170px;
  height: 40px;
  border: 1px solid #5fcecb;
  border-radius: 35px;

  color: $secondary-text-color;

  &:hover,
  &:focus {
    background: $tabs-bg-hover-color;
  }
}
