@import "../../../sass//utils/mixin";
@import "../../../sass//utils/variables";

.container {
  @include tablet {
    position: absolute;
    top: 230px;
  }
  @include desktop {
    position: static;
  }
  margin-bottom: 38px;
  .textWrapper {
    margin-bottom: 24px;
  }
  .text {
    @include font(400px, 12px, 1.17);
  }
}
.title {
  @include font(500px, 14px, 1.29);
  color: $gray-text-color;
  padding-bottom: 8px;
}

.warrningText {
  margin-top: 18px;
  @include font(400, 12px, 1.33);
  color: $secondary-text-color;
  @include tablet {
    width: 292px;
  }
  @include desktop {
    width: 448px;
  }
}

.colorPicker {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  @include tablet {
    width: 420px;
  }
}

.option {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 250ms linear;
}

.activeOption {
  composes: option;
  transform: scale(1.2);
}
