@import "../../../sass/utils/variables";
@import "../../../sass/utils/mixin";

.FormInput {
  padding: 16px 18px;

  width: 100%;
  height: 52px;
  border: 1px solid $border-color;
  border-radius: 12px;
  font-family: $primary-font;
  @include font(400, 14px, 20px);
  color: $secondary-text-color;
  outline: none;

  @include tablet {
    @include font(400, 16px, 24px);
    height: 56px;
  }
}

.FormInput::placeholder {
  font-family: $primary-font;
  @include font(400, 14px, 20px);
  color: $secondary-text-color;
  opacity: 1;

  @include tablet {
    @include font(400, 16px, 24px);
  }
}
