@import "../../../sass/utils/variables";
@import "../../../sass/utils/mixin";

.CheckBoxLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CheckBoxInput {
  position: absolute;
  opacity: 0;
}

.CheckBoxCustomInput {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border: 1px solid $secondary-border-color;
  border-radius: 8px;
  cursor: pointer;
  background-color: $white-text-color;
}

.CheckBoxInput:checked + .CheckBoxCustomInput {
  background-color: $main-accent-color;
  border: 1px solid $main-accent-color;
}

.CheckBoxIcon {
  width: 20px;
  height: 20px;
  color: $icon-color;
}

.CheckBoxInput:checked + .CheckBoxCustomInput .CheckBoxIcon {
  color: $white-text-color;
}
