@import "../../../sass/utils/mixin";
.select-container {
  width: 224px;
  height: 48px;
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid rgba(18, 20, 23, 0.2);

  .select {
    &__control {
      @include font(500, 16px, 1.25);

      margin-top: 5px;
      border: none;
      box-shadow: none;
      border-radius: 14px;
    }
    &__indicator {
      margin-right: 15px;

      color: #2b2b2b !important;
      cursor: pointer !important;
    }
    &__indicator-separator {
      background-color: transparent;
    }

    &__value-container {
      padding-left: 18px;
      color: #2b2b2b !important;
    }

    &__menu {
      margin: 0;
      background-color: $white-text-color !important;
      border-radius: 14px;
    }

    &__option {
      cursor: pointer;
      border-radius: 10px;
      border: none;
      // color: rgba(43, 43, 42, 0.4) !important;
      color: #2b2b2b !important;

      &:first-child {
        font-family: Alumini Sans;
        @include font(100, 16px, 1.19);
      }
      &:nth-child(2) {
        font-family: Comfortaa;
        @include font(500, 16px, 1.25);
      }
      &:nth-child(3) {
        font-family: Caveat;
        @include font(400, 16px, 1.25);
      }
      &:nth-child(4) {
        font-family: Exo2;
        @include font(200, 16px, 1.19);
      }
      &:nth-child(5) {
        font-family: Poiret One;
        @include font(400, 16px, 1.19);
      }
      &:nth-child(6) {
        font-family: Shantell Sans;
        @include font(300, 16px, 1.31);
      }
      &:nth-child(7) {
        font-family: Source Code Pro;
        @include font(200, 16px, 1.25);
      }
      &:last-child {
        font-family: Pacifico;
        @include font(400, 16px, 1.75);
      }

      &--is-focused {
        background-color: transparent !important;
      }
      &--is-selected {
        // background-color: transparent !important;
        background-color: rgba($color: #000000, $alpha: 0.1) !important;
        color: #2b2b2b !important;
        // font-weight: bold !important;
      }
    }
  }
}
