@import "../../../sass/utils/mixin";
@import "../../../sass/utils/variables";
.optionContainer {
  @include tablet_max {
    margin-bottom: 32px;
  }
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 24px;
}

.optionSetting {
  @include desktop {
    display: flex;
    gap: 8px;
  }
  margin-bottom: 18px;
  .selectWrapper {
    position: relative;
    @include desktop_max {
      margin-bottom: 8px;
    }
    .errorMessage {
      position: absolute;
      bottom: 0;
      left: 5px;
      font-family: $primary-font;
      @include font(400, 10px, 12px);
      color: $main-accent-color;
      bottom: -16px;

      @include tablet {
        @include font(400, 12px, 14px);
        max-width: 400px;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    .option {
      @include font(500, 16px, 1.25);

      width: 108px;
      height: 48px;
      border: 1px solid rgba(18, 20, 23, 0.2);
      border-radius: 14px;
      padding: 14px 18px;

      &:focus {
        outline: none;
      }
    }
  }
}
.title {
  @include font(500, 14px, 1.29);
  color: $gray-text-color;
  padding-bottom: 8px;
}

.warrningText {
  @include font(400, 12px, 1.33);
  color: $secondary-text-color;

  @include desktop {
    width: 448px;
  }
}
.inputWrapper {
  position: relative;
}
.errorMessage {
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 5px;
  font-family: $primary-font;
  @include font(400, 10px, 12px);
  color: $main-accent-color;
  bottom: -16px;

  @include tablet {
    @include font(400, 12px, 14px);
    max-width: 400px;
  }
}
