@import "../../sass/utils/mixin";
@import "../../sass/utils/variables";

.textSettings {
  position: relative;
  @include tablet {
    width: 768px;
    display: flex;
    gap: 32px;
  }
  @include desktop {
    display: block;
  }
}

.textarea {
  @include tablet_max {
    width: 335px;
    height: 134px;
    margin-bottom: 18px;
  }
  @include tablet {
    width: 448px;
    height: 134px;
  }
  @include desktop {
    margin-bottom: 24px;
  }

  padding: 14px 18px;
  background: $white-text-color;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 14px;
}

.title {
  @include font(500px, 14px, 1.29);
  color: $gray-text-color;
  padding-bottom: 8px;
}

.warrningText {
  @include font(400, 12px, 1.33);
  color: $secondary-text-color;
  @include tablet {
    width: 292px;
  }
  @include desktop {
    width: 448px;
  }
}

.ordering {
  @include tablet {
    margin-top: 128px;
  }
  margin-bottom: 34px;

  .coment {
    @include font(400, 12px, 1.33);
    color: $secondary-text-color;
    margin-bottom: 16px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;

    background: $white-text-color;
    border: 1px solid $btn-open-modal-color;
    border-radius: 16px;
    @include tablet {
      width: 448px;
    }
  }
}

.TextPositionAndFormat {
  @include tablet_max {
    margin-bottom: 40px;
  }
  @include desktop {
    margin-bottom: 24px;
  }
}
