@import "../../sass/utils/variables";
@import "../../sass/utils/mixin";

.btnOpenModal {
  @include font(600, 14px, 1.43);
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
  background: #5fcecb;
  color: $white-text-color;
}
